# Requirements labelme-5.9.1 + pipeline YOLO11 + DWPose
# torch et torchvision sont installés séparément dans install.bat (index cu126)

annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
coloredlogs
contourpy
controlnet_dwpose==0.1.5
cycler
decord
einops
filelock
flatbuffers
fonttools
fsspec
gdown
httpcore
httpx
huggingface_hub
humanfriendly
idna
imageio
imgviz
importlib_metadata
Jinja2
kiwisolver
lazy_loader
loguru
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
natsort
networkx
numpy
onnxruntime
opencv-python
osam
packaging
pillow
polars
protobuf
psutil
pydantic
pydantic_core
Pygments
pyparsing
PyQt5==5.15.11
PyYAML
requests
rich
safetensors
scikit-image
scipy
six
soupsieve
sympy
tifffile
timm
tqdm
typer
typing_extensions
ultralytics
urllib3
